body {
    background-image: url('https://www.cultofthelamb.com/videos/keyart-bg-1080x30-poster.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}